.addToCart {
  width: 100%;
  height: 60px;
  border-radius: 40px;
  text-align: center;
  background: rgba($color: #000000, $alpha: 0.6);
  transition: all 1s ease-in-out;
  color: #fff;
  opacity: 1;
}

//   position: absolute;
// bottom: 20%;
// left: 50%;
// transform: translate(-50%, -50%);
