.tabbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.tabbar button {
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-weight: 600;
  font-style: italic;
  position: relative;
}
.tabbar button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background: #000;
}
.tabbar button:hover {
  color: #2c6431;
}
.tabbar button:hover::after {
  background: #2c6431;
}